/* // X-Small devices (portrait phones, less than 576px) */


@media (max-width: 575.98px) {

    /* .container {
        display: grid;
        height: 100vh;
        grid-template-rows: .2fr 1.5fr 1.2fr .8fr;
    } */




    /* ------------------HEADER------------------ */
    header .site-nav .desktop-nav,
    header .site-nav .nav-social-media {
        display: none;
    }

    header .nav-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-basis: 50%;
    }

    .nav-title .drawer-icon {
        display: flex;
        margin: 0px 2em 0px;
        padding: 0;

    }

    /* ------------___BANNER___------------- */

    .container {
        margin: 0px;
        padding: 0px;
        width: 100%;

    }

    .container .banner-container {
        margin: 1em 0px 1em !important;
        height: 80vh;
    }

    .container .banner-container img {
        border-radius: 0px;
        filter: brightness(60%);
        margin: 0px;
    }

    .banner-container .banner-em-form {
        display: none;
    }

    .banner-container .banner-promo-text {
        top: 20%;
        font-size: 1rem;
    }

    /* -----------___ABOUT US___--------------- */

    .about-us .prm-container {
        display: flex;
        flex-direction: column;


    }

    .about-us .prm-container img {
        border-radius: 0px;
        display: none;
        margin: 0;
    }

    .about-us-info {
        order: -1;
        margin: 0 1em 0;
    }

    .button-row {
        display: flex;
        justify-content: flex-start;
    }

    .button-row .abt-contact-us {
        display: none;
    }

    .button-row .abt-learn-more {
        width: 40%;
    }


    /* --------__COMPANY REVIEW TILES___------- */


    .about-us .company-review-tiles {
        flex-wrap: wrap;
        margin-top: 5em;
    }

    .company-review-tiles .review-tile {
        margin: 0em 0em;
        flex-basis: 100%;
        text-align: center;
        height: 25em;
    }

    .company-review-tiles .review-tile-img {
        display: none;
    }

    .company-review-tiles .review-tile-svg {
        display: inline;
        width: 10em;
        height: 8em;
    }

    .company-review-tiles .review-tile-title {
        display: none;
    }


    /* -------------LOWER ABOUT US------------- */
    .about-us-lower-seg {
        margin: 1em;
    }

    .about-us-lower-seg .more-info-tiles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .more-info-tiles .more-info-tile {
        flex-basis: 48%;
    }


    /* ----------------FEATURES SECTION------------------ */



    .features-container {
        margin: 1em;
    }

    .features-container .banner-btn {
        display: none;
    }

    .feature-list-tiles .feature-tile {
        flex-basis: 48%;
    }


    /* ------------___HIRE THROUGH US___------------- */


    .hire-through-us {
        margin-top: 4em;
        margin: 0;
        height: 100vh;

    }

    .hire-banner {
        height: 100%;
        margin: 0;
    }

    .hire-banner img {
        height: 90vh;
        margin: 0;
        border-radius: 0px;
        filter: brightness(60%);
    }



    /* ---------___TETSIMONIALS____--------------- */



    .testimonials {
        margin: 4em 1em 2em;
    }

    /* .testimonials .testimonial-carousel {
        display: flex;
        overflow-x: visible;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .testimonial-carousel .carousel-tile img {
        height: 20em;
        width: 20em;
    } */

    .contact-us .contact-textbox {
        width: 80vw;
    }
}



@media (max-width: 767.98) {
    header .site-nav .desktop-nav {
        display: none;
    }
}